#wrapper {
    width: 1130px;
    margin: 8px auto 0 auto;
    z-index: -2;
    position: relative;
}
#top {
    position: relative;
    z-index: 100;
    width: 100%;
    height: 164px;
    background-color: #FFFEED;
}
#logo {
    margin: 24px;
    width: 464px;
    height: 107px;
}
.login {
    text-decoration: none;
    color: #473D3F;
    font-family: Arial, Helvetica, "sans serif";
    font-weight: bolder;
    float: right;
    margin: 16px 16px 0 0;
}
.login:hover {
    color: #999;
}
.menubar {
    margin-left: 5px;
}
.menubar ul {
    margin: 0;
    padding: 0;
    line-height: 30px;
}
.menubar li {
    margin-right: 5px;
    padding: 0;
    list-style: none;
    float: left;
    position: relative;
    background: #473D3F;
}
.menubar ul li a {
    text-align: center;
    font-family: "Arial", "sans serif";
    font-weight: bold;
    text-decoration: none;
    height: 30px;
    width: 220px;
    display: block;
    color: #FFF;
}
.menubar ul li:hover {
    background: #7A6F6F;
}
#main_content {
    background-color: #EEE;
    width: 100%;
    height: 600px;
    position: relative;
    z-index: -1;
}
#slice_container {
    height: 100%;
}
.slices {
    position: absolute;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
#slice_red:hover {
    opacity: 0.4;
}
#slice_lightgrey {
    left: 423px;
    top: 101px;
}
#slice_lightgrey:hover {
    transform-origin: 50% 50%;
    transform: scale(1.2);
    top: 29px;
}
#slice_mediumgrey {
    right: 343px;
    top: 181px;
}
#slice_mediumgrey:hover {
    transform-origin: 50% 50%;
    transform: scale(1.2);
    right: 271px;
}
#slice_darkgrey {
    left: 423px;
    top: 351px;
}
#slice_darkgrey:hover {
    transform-origin: 50% 50%;
    transform: scale(1.2);
    top: 423px;
}
form {
    clear: both;
}
footer {
    text-align: center;
}
