html, body {
    margin: 0; 
    padding: 0;
    width: 100%; 
    height: 100%;
    background-color:#DDD;
}

#wrapper {
    width: 1260px;
    margin: 0 auto 0 auto;
}

#top {
    position: relative;
    width: 100%;
    height: 164px;
    background-color: #779ECB;
}

#logo {
    margin:24px;
    width: 464px;
    height: 107px;
}

.login {
    text-decoration: none;
    color: #333;
    font-family: Arial, Helvetica, "sans serif";
    font-weight: bolder;
    position: absolute;
    right: 24px;
    top: 16px;
}

.signup {
    text-decoration: none;
    color: #333;
    font-family: Arial, Helvetica, "sans serif";
    font-weight: bolder;
    position: absolute;
    right: 100px;
    top: 16px;
}

.login:hover {
     color: #CCC;
}

.signup:hover {
     color: #CCC;
}


.menubar {
  background:#333;
  height: 42px;
  text-align: center;
}

.menubar ul {
    display: inline-block;
    margin:0 auto 0 auto;
    padding:0;
    line-height: 42px;
}

.menubar li {

  padding:0;
  list-style:none;
  float:left;
  position:relative;
}

.menubar ul li a {

  text-align:center;
  font-family:"Arial", "sans serif";
  font-weight: bold;
  text-decoration:none;
  height:42px;
  width:220px;
  display:block;
  color:#FFF;
}

.menubar ul li:hover {
  background:#888;
}


.simpleBlack {
    font-size: 20px;
    color: #473D3F;
    font-family:"Arial", "sans serif";
}

.simpleTitle {
    font-size: 30px;
    color: #473D3F;
    font-family:"Arial", "sans serif";
}

.simpleTime {
    font-size: 15px;
    font-family:"Arial", "sans serif";
}

.simpleCreator {
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    color: #F78181;
    font-family:"Arial", "sans serif";
}

.simpleCreator:hover {
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    color: #F78181;
    font-family:"Arial", "sans serif";
}

.forumInfo {
  font-weight: bold;
  font-size: 18px;
  color: white;
}

.threads {
    background-color: #333;
    font-family: "Arial";
    border-collapse: collapse;
    width: 99%;
    margin: 0 auto 0 auto;
}

.threads td {
  border-bottom: solid 2px #888;
}


.threads td a{
    padding: 10px 32px 10px 10px;
    display: block;
    text-decoration: none;
}

.post:hover {
    background-color: #555;
}

.threadname {
    font-weight: bold;
    color: #FFE58C;
    width: 600px;
    text-decoration: none;
}

.threadname:hover {
  font-weight: bold;
  color: #FFF8BF;
  text-decoration: none;
}

.username {
  font-weight: bold;
  color: orange;
  text-decoration: none;
}

.username:hover {
  font-weight: bold;
  color: orange;
  text-decoration: none;
}

.replies {
  color: white;
}

.update {
  color: white;
  text-align: center;
}

.threadLink {
   font-size: 16px;
   font-weight: bold;
   text-decoration: none;
   color: #04B486;
   font-family:"Arial", "sans serif";
}

.threadLink:hover {
   font-size: 16px;
   font-weight: bold;
   text-decoration: none;
   color: #04B486;
   font-family:"Arial", "sans serif";
}

#threadList {
    border-collapse: separate;
    border-spacing: 5px;
}

footer{
    margin: 10px 0px 0px 0px;
    text-align: center;
    color: #A8A8A8;
}


#err_margin {
    width:100%;
    height: 30px;
}

#title {
    width: 95%;
    height: 40px;
    margin: 10px 0px 10px 20px;
    text-align: center;
}

#left {
    float:left;
    width:47.5%;
    /*height: 100%;*/
    background-color: #EEE;
    min-height: 400px;
    margin: 0px 5px 0px 5px;
}

#right {
    float:right;
    width:47.5%;
    min-height: 400px;
    /*height:100%;*/
    background-color: #EEE;
    margin: 0px 5px 0px 5px;
}

.thread_answer {
    margin: 1em 3em;
    color: #999;
    border-left: 2px solid #999;
    padding-left: 1em;
}

#main_content {
    background-color: #666;
    width: 100%;
    height: 100%;
    min-height: 400px;
}

#contact {
    font-size: 20px;
    color: #473D3F;
    font-family:"Arial", "sans serif";
}


/* Evaluation tooltip */

td.tooltips {
    position: relative;
}


td.tooltips span {
    bottom: 35px;
    left: 50%;
    margin-left: -200px;
    position: absolute;
    width: 400px;
    color: #FFFFFF;
    background: #333;
    height: 50px;
    line-height: 25px;
    padding: 15px;
    text-align: center;
    visibility: hidden;
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
    border-radius: 4px;
    box-shadow: 0px 0px 8px #FFF;
}

td.tooltips span:after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -8px;
    width: 0;
    height: 0;
    border-top: 8px solid #333;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
}

td:hover.tooltips span {
    visibility: visible;
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
    z-index: 999;
}

.toolbar{
    width: 100%;
    height: 40px;
    background-color: #666;
    font-family: "Arial";
    color: white;
}

.toolbar input {
    font-family: "Arial";
    font-weight: bold;
    font-size: 14px;
    float:right; 
    height: 28px; 
    margin: 7px -1px 7px 0;
    background-color: #333;
    border-style: solid;
    border-width: 1px;
    border-color: #779ECB;
    color: #779ECB;
    width: 300px;
    padding-left: 7px;
}

.createThreadButton {
    background-color:#333;
    border:1px solid #779ecb;
    display:inline-block;
    color:#779ecb;
    font-family:"Arial";
    font-size:14px;
    font-weight:bolder;
    text-decoration:none;
    line-height: 30px;
    height: 30px;
    padding: 0 24px;
    margin: 7px;
}

.createThreadButton:hover {
    background-color:#444;
}


.searchButton {
    background-color:#333;
    border:1px solid #779ecb;
    display:inline-block;
    color:#779ecb;
    font-family:"Arial";
    font-size:14px;
    font-weight:bolder;
    text-decoration:none;
    line-height: 30px;
    height: 30px;
    padding: 0 24px;
    margin: 7px 6px 7px 0;
}

.searchButton:hover {
    background-color:#444;
}

.active {
    background-color: #666;
}

.forumInfo {
    font-size: 16px;
    font-family: "Arial";
    color: #779ECB;
    padding: 10px 32px 10px 10px;
}
